body {
    background-color: #EDEDED;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
}

.forsvind {
    display: none;
}

/* [ON BIG SCREEN] */
/* Wrapper */
#page-nav {
    width: 100%;
    background: #EA5045;
    /* If you want the navigation bar to stick on top */
    position: sticky;
    top: 30px;
    z-index: 3;
    height: 200;
    font-family: "Helvetica Neue Condensed", sans-serif;
}

#page-nav img {
    height: 50px;

}


/* Hide Hamburger */
#page-nav label,
#hamburger {
    display: none;
    cursor: pointer;
    float: right;
}


/* Menu Items */
#page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 200%;
}


#page-nav ul li {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}


#page-nav ul li a {
    color: white;
    text-decoration: none;
}

#page-nav ul li a:hover {
    opacity: 0.6;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {

    /* Show Hamburger */

    #page-nav label {
        display: inline-block;
        color: #fff;
        font-style: normal;
        font-size: 2.4em;
        padding: 20px;

    }

    /* Break down menu items into vertical */
    #page-nav ul li {
        display: block;
    }

    /* Toggle show/hide menu on checkbox click */
    #page-nav ul {
        display: none;
    }

    #page-nav input:checked ~ ul {
        display: block;
    }


}

/* Forside */

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #FAF7F7;
}

.metro {
    color: #F58E81;
    position: absolute;
    top: 200%;
    left: 23%;
    transform: translate(-25%, -50%);
}


.item {
    width: 120px;
    height: 120px;
    float: left;
    background: white;
    margin: 4px;
    cursor: pointer;
    text-align: center;
    position: relative;
    transition: 0.4s;
}

.item:hover {
    transform: scale(0.9);
}

.item i {
    font-size: 36px;
    line-height: 100px;
    opacity: 0.8;
}

.item span {
    opacity: 0.8;
    position: absolute;
    bottom: 6px;
    left: 6px;
    font-size: 15px;
}

.i1 {}

.i2 {}

.i3 {}

.i4 {
    width: 248px;
}

.i5 {}

.i6 {}

.i7 {}

.i8 {}

.i9 {}

.i10 {
    width: 248px;
    height: 248px;
}

.i11 {}

/*Forside slut*/
