body {
    background-color: #EDEDED;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

html {
    font-size: 100%;
}

img {
    100%;
}



#menu_profil {
    width: 50px;
    position: relative;

}

#menu_kea {
    width: 100px;
    position: relative;
}

#menu_boks {
    background-color: #EA5045;
    position: absolute;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.box {
    background-color: red;
    position: absolute;
    border: solid black 1px;

}

#box {
    background-color: #EA5045;
    position: absolute;
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
    text-align: center;

}

#box1 {
    background-color: #faf7f7;
    position: absolute;
    width: 100%;
    height: 500px;
    top: 250px;
    left: 0;
}




#logo {
    position: relative;
    width: 10%;
    height: 8%;
}

h1 {
    font-size: 50px;
    color: white;
    font-family: "Helvetica Neue Condensed", sans-serif;
}

/* [ON BIG SCREEN] */
/* Wrapper */
#page-nav {
    width: 100%;
    background: #EA5045;
    /* If you want the navigation bar to stick on top */
    position: sticky;
    top: 30px;
    z-index: 3;
    height: 200;
    font-family: "Helvetica Neue Condensed", sans-serif;
}


/* Hide Hamburger */
#page-nav label,
#hamburger {
    display: none;
    cursor: pointer;
    float: right;
}


/* Menu Items */
#page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 200%;
}


#page-nav ul li {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}


#page-nav ul li a {
    color: white;
    text-decoration: none;
}

#page-nav ul li a:hover {
    opacity: 0.6;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {

    /* Show Hamburger */

    #page-nav label {
        display: inline-block;
        color: #fff;
        font-style: normal;
        font-size: 2.4em;
        padding: 20px;

    }

    /* Break down menu items into vertical */
    #page-nav ul li {
        display: block;
    }

    /* Toggle show/hide menu on checkbox click */
    #page-nav ul {
        display: none;
    }

    #page-nav input:checked ~ ul {
        display: block;
    }


}

h3 {
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: "Helvetica Neue Condensed", sans-serif;
}

h4 {
    color: #EA5045;
    font-size: 15px;
    text-align: center;
    font-family: "Helvetica Neue Condensed", sans-serif;
}

/*Hold*/

/*
#knapper {
    flex: wrap;
    display: flex;
    justify-content: center;
    margin: 20px;

}

#hold h1 {
    color: #233249;
    font-size: 50px;
    text-align: center;
    font-family: "Helvetica Neue Condensed", sans-serif;
}



.topnav {
    overflow: hidden;
    justify-content: center;
    padding: 5px;

}
*/

/* Style the links inside the navigation bar */
/*
.topnav a {
    float: center;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
}
*/

/* Change the color of links on hover */
/*.topnav a:hover {
    color: black;
}*/

/* Style the "active" element to highlight the current page */
/*
.topnav a.active {
    color: white;
}
*/

/* Style the search box inside the navigation bar */
/*.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}*/

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */

/*.dropdown1 {
    display: inline-block;
    position: relative;
}*/

/*.dd-button1 {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #233249;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    color: white;
    font-family: "Helvetica Neue Condensed", sans-serif;
}

.dd-button1:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
}

.dd-button1:hover {
    background-color: #2b3e5a;
}


.dd-input1 {
    display: none;
}

.dd-menu1 {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #233249;
    list-style-type: none;
    color: white;
    font-family: "Helvetica Neue Condensed", sans-serif;
}

.dd-input1 + .dd-menu1 {
    display: none;
}

.dd-input1:checked + .dd-menu1 {
    display: block;
}

.dd-menu1 li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dd-menu1 li:hover {
    background-color: #2b3e5a;
}

.dd-menu1 li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
}

.dd-menu1 li.divider {
    padding: 0;
    border-bottom: 1px solid #cccccc;
}

#profil {
    display: flex;
    flex-wrap: wrap;
}

#profil_pic {
    display: flex;
    flex-wrap: wrap;
}

#profil_pic p {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 1px;
}

#billeder img {
    margin: 0.5vw;
    width: 15vw;
    height: 18vw;
}

#info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: lightgrey;
    justify-content: space-around;

}

#info p {
    color: white;
    font-family: "Helvetica Neue Condensed", sans-serif;
}*/

/*Hold slut*/

/*Afleveringer*/

/*#afleveringer {
    flex-wrap: wrap;
    margin: 1vw;
    padding: 2vw;
}

#afleveringer h1 {
    color: #233249;
    font-size: 40px;
    margin: 2vw;
    font-family: "Helvetica Neue Condensed", sans-serif;

}

#afleveringer h2 {
    color: #EA5045;
    font-size: 20px;
    margin: 2vw;
    font-family: "Helvetica Neue Condensed", sans-serif;
}

#afleveringer p {
    color: black;
    font-size: 15px;
    font-family: "Helvetica Neue Condensed", sans-serif;
}

#naeste,
#aflever,
#tema1,
#tema2,
#tema3,
#tema4 {
    margin: 2vw;
    padding: 2vw;
    background-color: #eae7e7;
}

.dropdown {
    display: inline-block;
    position: relative;
    font-family: "Helvetica Neue Condensed", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.dd-button {
    border: solid #EA5045;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
}

.dd-input {
    display: none;
}

.dd-menu {
    position: absolute;
    top: 100%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #faf7f7;
    list-style-type: none;
    z-index: 2;
}*/

/*.dd-input + .dd-menu {
    display: none;
}

.dd-input:checked + .dd-menu {
    display: block;
}

.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
    width: 80vw;
}

.dd-menu li:hover {
    background-color: #f6f6f6;
}

.dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
}

.dd-menu li.divider {
    padding: 0;
    border-bottom: 1px solid #cccccc;
}*/

/* Forside */

/** {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #FAF7F7;
}

.metro {
    color: #F58E81;
    position: absolute;
    top: 200%;
    left: 23%;
    transform: translate(-25%, -50%);
}


.item {
    width: 120px;
    height: 120px;
    float: left;
    background: white;
    margin: 4px;
    cursor: pointer;
    text-align: center;
    position: relative;
    transition: 0.4s;
}

.item:hover {
    transform: scale(0.9);
}

.item i {
    font-size: 36px;
    line-height: 100px;
    opacity: 0.8;
}

.item span {
    opacity: 0.8;
    position: absolute;
    bottom: 6px;
    left: 6px;
    font-size: 15px;
}

.i1 {}

.i2 {}

.i3 {}

.i4 {
    width: 248px;
}

.i5 {}

.i6 {}

.i7 {}

.i8 {}

.i9 {}

.i10 {
    width: 248px;
    height: 248px;
}

.i11 {}*/

/*Forside slut*/

/*
#materialer h1 {
    color: #233249;
    font-size: 25px;
    font-family: "Helvetica Neue Condensed", sans-serif;
    margin: 2vw;
}

#materialer p {
    color: black;
    font-size: 15px;
    font-family: "Helvetica Neue Condensed", sans-serif;
    margin: 2vw;
}

#materialer #top {
    background-color: #e0e0e0;
}

#materialer .overskrifter {
    justify-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

#materialer .tema {
    justify-content: flex-end;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

#dato {
    background-color: #3F3140;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#dato p {
    display: flex;
    justify-content: center;
    color: white;
}

i {
    border: solid #EA5045;
    border-width: 0 3px 3px 0;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: relative;
    top: 7vw;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    cursor: pointer;


}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    cursor: pointer;
}

#slide1,
#slide2,
#slide3 {
    margin: 4vw;
    padding: 2vw;
    background-color: #eae7e7;
}

#footer_materialer {
    background-color: #3F3140;
    height: 10vw;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-content: space-around;
}

#footer_materialer #skema_logo img {
    max-height: 8vw;

}
*/
