/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.box {
    background-color: red;
    position: absolute;
    border: solid black 1px;

}

#box {
    background-color: #EA5045;
    position: absolute;
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
    text-align: center;
}

#box1 {
    background-color: #faf7f7;
    position: absolute;
    width: 100%;
    height: 500px;
    top: 250px;
    left: 0;
}

#continue {
    background-color: #EA5045;
    position: absolute;
    width: 30%;
    height: 30px;
    top: 80px;
    left: 0;
    justify-content: center;
    border-radius: 20px;
}

#facebooklogin {
    background-color: #faf7f7;
    position: absolute;
    width: 30%;
    height: 30px;
    top: 150px;
    left: 0;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid #EA5045;
}

#logo {
    position: relative;
    width: 10%;
    height: 8%;
}

h1 {
    font-size: 50px;
    color: white;
    color: white
}

/* [ON BIG SCREEN] */
/* Wrapper */
#page-nav {
    width: 100%;
    background: #EA5045;
    /* If you want the navigation bar to stick on top */
    position: sticky;
    top: 30px;
}

/* Hide Hamburger */
#page-nav label,
#hamburger {
    display: none;
}

/* Menu Items */
#page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#page-nav ul li {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}

#page-nav ul li a {
    color: white;
    text-decoration: none;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {

    /* Show Hamburger */
    #page-nav label {
        display: inline-block;
        color: #fff;
        background: #EA5045;
        font-style: normal;
        font-size: 2.4em;
        padding: 20px;

    }

    /* Break down menu items into vertical */
    #page-nav ul li {
        display: block;
    }

    /* Toggle show/hide menu on checkbox click */
    #page-nav ul {
        display: none;
    }

    #page-nav input:checked ~ ul {
        display: block;
    }


}

h3 {
    color: white;
    font-size: 15px;
    text-align: center;
}

h4 {
    color: #EA5045;
    font-size: 15px;
    text-align: center;
}
